.bed-row{
    text-align: center;
    justify-content: flex-start;
}

.bed-col{
    /* margin-bottom: 5%; */
}

.garden-background{
    background-image: url(../pics/grass3.png);
    background-size: 150px 150px;
    background-repeat: repeat;
    border-radius: 2%;
    margin-top: 3%;
}