ion-content ion-toolbar {
  --background: translucent;
}

.page-background {
  background-image: url(../pics/green-grass.png);
  background-size: 110px;
  background-repeat: repeat;
}
.info-card {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 10px 0px;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translate(-100%, 0);
    animation-timing-function: ease-out;
  }
}
