ion-content ion-toolbar {
  --background: translucent;
}

.info-card {
  text-align: center;
  padding: 20px 0;
}

.page-background{
  background-image: url(../pics/green-grass.png);
  background-size: 200px 200px;
  background-repeat: repeat;
}