.bed-style-disabled{
    border-radius: 10px;
    background: chartreuse;
    opacity: 50%;
}

.bed-style-primary{
    border-radius: 10px;
    background-image: url(../pics/bed.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 20px;
}