.card {
  height: 800px;
}

.segment {
  width: 100%;
  margin: -2% 0 -1% 0;
  height: 55px;
}

.sticky-header {
  padding: 20px 0;
  font-size: 0.9em;
  font-weight: 300;
  vertical-align: auto;
  margin: 0 auto;
}

.list {
  width: 110%;
  height: 90%;
  overflow: scroll;
  margin-left: -5%;
  margin-bottom: 10px;
}
