.card {
  height: 80vh;
  padding-top: 20px; /*padding-top bestemmer hver langt nede tabsne skal være*/
}

.segment {
  width: 100%;
  margin: -2% 0 -1% 0;
  padding-top: 0px;
  height: 55px;
}

.sticky-header {
  padding: 20px 0;
  font-size: 0.9em;
  font-weight: 300;
  vertical-align: auto;
  margin: 0 auto;
}
.side-menu-header {
  padding-top: 0px;
}

.list {
  width: 110%;
  height: 90%;
  overflow: scroll;
  margin-left: -5%;
  margin-bottom: 10px;
  background-color: lightgray;
}
