.card {
  max-height: 900px;
}

.sticky-header {
  padding: 10px 0;
  font-size: .9em;
  font-weight: 100;
  vertical-align: auto;  
  margin: 5px auto 5px auto;
}

.list {
  width: 105%;
  height: 90%;
  overflow: scroll;
  margin-left: -1.5%;
  margin-bottom: 10px;
}


